//colours
$red: #a30000;
$orange: #db7f67;
$yellow: #f8e16c;
$purple: #4f4789;
$green: #748b75;

//overwrite default variables
$primary: $purple;
$link: $green;
$warning: $yellow;
$danger: $red;
$column-gap: 3rem;
