@import "variables";
@import "~bulma";
@import "overrides";

header {
  background-color: $purple;
  height: 6em;
  display: flex;
}

header h1 {
  color: $orange;
  font-weight: bold;
  align-self: center;
  font-size: xx-large;
}

.box {
  background-color: $yellow;
}

#tile-group-1 {
  margin-left: 4em;
  margin-right: 4em;
}

#tile-group-2 {
  margin-left: 4em;
  margin-right: 4em;
}

p {
  font-weight: bold;
  margin-top: 1.5em;
}

form {
  margin-top: 8em;
  background-color: $red;
  display: flex;
  flex-direction: column;
}

.field {
  width: 60%;
  align-self: center;
  margin-bottom: 3em;
}

.label {
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
  align-self: center;
  font-size: 3em;
}

button {
  width: 15%;
  align-self: center;
  margin-bottom: 4em;
}
