@import "variables";
@import "~bulma";
@import "overrides";

header {
  background-color: $purple;
  height: 6em;
  display: flex;
}

header h1 {
  color: $orange;
  font-weight: bold;
  align-self: center;
  font-size: xx-large;
}

.box {
  background-color: $yellow;
}

#tile-group-1 {
  margin-left: 4em;
  margin-right: 4em;
}

#tile-group-2 {
  margin-left: 4em;
  margin-right: 4em;
}
